In [1]:
a = {}
type(a)

dict

In [2]:
a = {'a':"Apple",'b':"Ball"}
print(a)

{'a': 'Apple', 'b': 'Ball'}

In [3]:
a = {'a':"Apple",'b':"Ball"}
print(a['b'])

Ball

In [4]:
a = {'a':"Apple",'b':"Ball",'a':"Ant"}
print(a)

{'a': 'Ant', 'b': 'Ball'}

In [5]:
a = {'a':"Apple",'b':"Ball",'A':"Ant"}
print(a)

{'a': 'Apple', 'b': 'Ball', 'A': 'Ant'}

In [6]:
a = {0:"Apple",1:"Ball",2:"Ant"}
print(a)

{0: 'Apple', 1: 'Ball', 2: 'Ant'}

In [7]:
a = {0:"Apple",1:"Ball",2:"Ant"}
b = {0:"Cat"}
a+b

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [8]:
a = {0:"Apple",1:"Ball",2:"Ant"}
a[3] = "Fish"
a

{0: 'Apple', 1: 'Ball', 2: 'Ant', 3: 'Fish'}

In [9]:
a = {0:"Apple",1:"Ball",2:"Ant"}
a[2] = "Fish"
a

{0: 'Apple', 1: 'Ball', 2: 'Fish'}

In [10]:
# info = {'Ram':9867665676,'Shyam':9856553423,'Hari':9876445654}
info = {} 
n = int(input("Enter no of people = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    info[name] = phone
print(info)

Enter no of people = 2
Enter name = Ram
Enter phone = 985644354
Enter name = Shyam
Enter phone = 9856445654
{'Ram': '985644354', 'Shyam': '9856445654'}

In [11]:
name = input("Enter name = ")
info[name]

Enter name = Ram

'985644354'

In [12]:
for i in info:
    print(i)

Ram
Shyam

In [14]:
for i in info.values():
    print(i)

985644354
9856445654

In [15]:
for i in info.items():
    print(i)

('Ram', '985644354')
('Shyam', '9856445654')

In [17]:
info = {}
a = (('Ram', '985644354'),('Shyam', '9856445654'))
for i in range(len(a)):
    key = a[i][0]
    value =  a[i][1]
    info[key] = value
    
print(info)

{'Ram': '985644354', 'Shyam': '9856445654'}

In [18]:
a = {'Ram': '985644354', 'Shyam': '9856445654'}
b = {['Ram','Hari']: '985644354', 'Shyam': '9856445654'}
b

TypeError: unhashable type: 'list'

In [19]:
b = {('Ram','Hari'): '985644354', 'Shyam': '9856445654'}
b

{('Ram', 'Hari'): '985644354', 'Shyam': '9856445654'}

In [20]:
b = {('Ram','Hari'): '985644354', 'Shyam': '9856445654'}
del b['Shyam']
b

{('Ram', 'Hari'): '985644354'}

In [21]:
b = {('Ram','Hari'): '985644354', 'Shyam': '9856445654'}
b.pop('Shyam')
b

{('Ram', 'Hari'): '985644354'}

In [23]:
b = {'Ram': '985644354', 'Shyam': '9856445654'}
del b['Ram':'Shyam']
b

TypeError: unhashable type: 'slice'

In [24]:
infos = {}
data = ""

n = int(input("Enter n = "))
for i in range(n):
    name = input("ENter name = ")
    age = input("ENter age = ")
    add = input("Enter address = ")
    info = f"{name} {age} {add}"
    
    key = i
    value = info
    
    infos[key]=value
    
print(infos)

Enter n = 2
ENter name = Ram
ENter age = 67
Enter address = Kathmandu
ENter name = Shyam
ENter age = 67
Enter address = Patan
{0: 'Ram 67 Kathmandu', 1: 'Shyam 67 Patan'}

In [26]:
x = infos[0]
x

'Ram 67 Kathmandu'

In [27]:
x.split()

['Ram', '67', 'Kathmandu']

In [29]:
infos[0] = 'Ram 67 Bara'
infos

{0: 'Ram 67 Bara', 1: 'Shyam 67 Patan'}

In [30]:
# list inside dicts
infos = {}
data = ""

n = int(input("Enter n = "))
for i in range(n):
    name = input("ENter name = ")
    age = input("ENter age = ")
    add = input("Enter address = ")
    info = [name,age,add]
    
    key = i
    value = info
    
    infos[key]=value
    
print(infos)

Enter n = 2
ENter name = Ram
ENter age = 78
Enter address = Kathmandu
ENter name = Shyam
ENter age = 78
Enter address = Bara
{0: ['Ram', '78', 'Kathmandu'], 1: ['Shyam', '78', 'Bara']}

In [31]:
# list inside dicts
# {'Name':[],'Age':[],'Add':[]}
infos = {}

name = []
age = []
add = []
n = int(input("Enter n = "))
for i in range(n):
    na = input("ENter name = ")
    ag = input("ENter age = ")
    ad = input("Enter address = ")
    
    name.append(na)
    age.append(ag)
    add.append(ad)
    
    
infos['Name']=name
infos['Age'] = age
infos['Address']=add
    
print(infos)

Enter n = 2
ENter name = Shyam
ENter age = 78
Enter address = Bara
ENter name = Ram
ENter age = 45
Enter address = Patan
{'Name': ['Shyam', 'Ram'], 'Age': ['78', '45'], 'Address': ['Bara', 'Patan']}

In [32]:
# list inside dicts
# {'Name':[],'Age':[],'Add':[]}
infos = {}

name = tuple()
age = tuple()
add = tuple()
n = int(input("Enter n = "))
for i in range(n):
    na = input("ENter name = ")
    ag = input("ENter age = ")
    ad = input("Enter address = ")
    
    name = name+(na,)
    age = age+(ag,)
    add = add + (ad,)
    
infos['Name']=name
infos['Age'] = age
infos['Address']=add
    
print(infos)

Enter n = 2
ENter name = Ram
ENter age = 67
Enter address = Patan
ENter name = Shyam
ENter age = 78
Enter address = Bara
{'Name': ('Ram', 'Shyam'), 'Age': ('67', '78'), 'Address': ('Patan', 'Bara')}

In [1]:
# dicts in dicts

In [2]:
# a = {<key>:{},<key>:{}}

In [6]:
a = {'Ram':{'landline':4456554,'mobile':9865445434}}
a['Ram']['landline']

4456554

In [7]:
a = {}
a['Ram'] = {'landline':4456554,'mobile':9865445434}
a

{'Ram': {'landline': 4456554, 'mobile': 9865445434}}

In [8]:
a = {}
a['Ram'] = {}
a['Ram']['landline'] = 4434335
a['Ram']['mobile'] = 9865445434
a

{'Ram': {'landline': 4434335, 'mobile': 9865445434}}

In [9]:
# list inside dicts
infos = {}
data = ""

n = int(input("Enter n = "))
for i in range(n):
    name = input("ENter name = ")
    age = input("ENter age = ")
    add = input("Enter address = ")
    info = {'Name':name,'Age':age,'Address':add}
    
    key = i
    value = info
    
    infos[key]=value
    
print(infos)

Enter n = 2
ENter name = RAm
ENter age = 78
Enter address = Bara
ENter name = Shyam
ENter age = 56
Enter address = Patan
{0: {'Name': 'RAm', 'Age': '78', 'Address': 'Bara'}, 1: {'Name': 'Shyam', 'Age': '56', 'Address': 'Patan'}}

In [10]:
infos[0]

{'Name': 'RAm', 'Age': '78', 'Address': 'Bara'}

In [11]:
infos[0]['Name']='Ram'
infos

{0: {'Name': 'Ram', 'Age': '78', 'Address': 'Bara'},
 1: {'Name': 'Shyam', 'Age': '56', 'Address': 'Patan'}}

In [13]:
infos[2]={}
infos[2]['Name']='Sita'
infos[2]['Age'] = 78
infos[2]['Address'] = 'Kathmandu'

In [14]:
infos

{0: {'Name': 'Ram', 'Age': '78', 'Address': 'Bara'},
 1: {'Name': 'Shyam', 'Age': '56', 'Address': 'Patan'},
 2: {'Name': 'Sita', 'Age': 78, 'Address': 'Kathmandu'}}

In [15]:
infos[2]['Address'] = ['Kathmandu','Patan']
infos

{0: {'Name': 'Ram', 'Age': '78', 'Address': 'Bara'},
 1: {'Name': 'Shyam', 'Age': '56', 'Address': 'Patan'},
 2: {'Name': 'Sita', 'Age': 78, 'Address': ['Kathmandu', 'Patan']}}

In [16]:
# name,product,price
bill = {'Ram':{'Product':['Coke','Fanta'],'Price':[199,200],'Total':sum([199,200])}}
bill

{'Ram': {'Product': ['Coke', 'Fanta'], 'Price': [199, 200], 'Total': 399}}

In [18]:
name = input("Enter name = ")
products = []
prices = []
n = int(input("Enter hoe many product = "))
for i in range(n):
    product = input("Enter products name = ")
    price = int(input("Enter products price = "))
    prices.append( price)
    products.append(product)
total=sum(prices)
bill =  {}
bill[name] = {'Product':products,'Price':prices,'Total':total}
print(bill)

Enter name = Shyam
Enter hoe many product = 2
Enter products name = Apple
Enter products price = 300
Enter products name = Coke
Enter products price = 190
{'Shyam': {'Product': ['Apple', 'Coke'], 'Price': [300, 190], 'Total': 490}}

In [2]:
total_bill = {}

n = int(input("Enter hoe many product = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    x = [str(x) for x in input("Enter multiple Product: ").split()] 
    y = [int(y) for y in input("Enter multiple Price: ").split()] 
    total=sum(y)
    bill =  {}
    bill[name] = {'Product':x,'Price':y,'Total':total}
    total_bill[i] = bill[name]
print(total_bill)

Enter hoe many product = 2
Enter name = Ram
Enter multiple Product: Coke Fanta
Enter multiple Price: 100 100
Enter name = Shyam
Enter multiple Product: Apple Ball
Enter multiple Price: 200 100
{1: {'Product': ['Coke', 'Fanta'], 'Price': [100, 100], 'Total': 200}, 2: {'Product': ['Apple', 'Ball'], 'Price': [200, 100], 'Total': 300}}

In [4]:
total_bill = {}

n = int(input("Enter hoe many product = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    x = [str(x) for x in input("Enter multiple Product: ").split()] 
    y = [int(y) for y in input("Enter multiple Price: ").split()] 
    total=sum(y)
    bill =  {}
    bill[name] = {'Product':x,'Price':y,'Total':total}
    total_bill[name] = bill[name]
print(total_bill)

Enter hoe many product = 2
Enter name = Ram
Enter multiple Product: Coke Momo
Enter multiple Price: 100 200
Enter name = Shyam
Enter multiple Product: Apple Ball
Enter multiple Price: 200 100
{'Ram': {'Product': ['Coke', 'Momo'], 'Price': [100, 200], 'Total': 300}, 'Shyam': {'Product': ['Apple', 'Ball'], 'Price': [200, 100], 'Total': 300}}

In [10]:
name = input("Enter name - ")
total_bill[name]
index = input("Enter index - ")
total_bill[name][index] =[100,300]
total_bill[name]['Total'] = sum(total_bill[name][index])

Enter name - Ram
Enter index - Price

In [11]:
total_bill

{'Ram': {'Product': ['Coke', 'Momo'], 'Price': [100, 300], 'Total': 400},
 'Shyam': {'Product': ['Apple', 'Ball'], 'Price': [200, 100], 'Total': 300}}

In [7]:
x = total_bill['Ram']['Total']
total_bill['Ram']['Total'] = x*.9
total_bill['Ram']

{'Product': ['Coke', 'Momo'], 'Price': [100, 200], 'Total': 270.0}

In [15]:
x = [int(x) for x in input("Enter multiple value: ").split()] 
print("Number of list is: ", x)

Enter multiple value: 3 4 5 6 7
Number of list is:  [3, 4, 5, 6, 7]

In [17]:
x = "3 4 5 6 7".split()
x

['3', '4', '5', '6', '7']

In [14]:
x = []
for i in range(3):
    y = int(input("Enter  multiple value:"))
    x.append(y)

Enter  multiple value:324 453 234 353

ValueError: invalid literal for int() with base 10: '324 453 234 353 '

In [4]:
x = {int(x) for x in input("Enter multiple value: ").split()} 
print("Number of list is: ", x)

Enter multiple value: 3 4 5 2 3 4
Number of list is:  {2, 3, 4, 5}

In [8]:
x = [int(x) for x in input("Enter multiple value: ").split(',')] 
print("Number of list is: ", x)

Enter multiple value: 3,4,5,6
Number of list is:  [3, 4, 5, 6]

In [10]:
x = [str(x) for x in input("Enter multiple value: ").split()] 
print("Number of list is: ", x)

Enter multiple value: sdsad fggd asdadas gfgdf adasdas
Number of list is:  ['sdsad', 'fggd', 'asdadas', 'gfgdf', 'adasdas']

In [11]:
x = [list(x) for x in input("Enter multiple value: ").split()] 
print("Number of list is: ", x)

Enter multiple value: sfsdf
Number of list is:  [['s', 'f', 's', 'd', 'f']]