In [3]:
print("Hello world")

Hello world

In [1]:
print("Hello World we are using GIT.")

Hello World we are using GIT.

In [5]:
a = 10
b = "Hello world"
c = 10.5
print(a,b,c)

10 Hello world 10.5

In [7]:
a = 10
b = "Hello world"
c = 10.5
print(type(a))

<class 'int'>

In [8]:
a = 10
b = "Hello world"
c = 10.5
print(type(a),type(b),type(c))

<class 'int'> <class 'str'> <class 'float'>

In [9]:
x = input("Enter value = ")

Enter value = 10

In [11]:
print(type(x))

<class 'str'>

In [13]:
x = input("Enter value x =")
y = input("Enter value y =")
x+y

Enter value x =Apple
Enter value y =Ball

'AppleBall'

In [15]:
a = '10'
type(a)

str

In [17]:
int(a)

10

In [18]:
x = int(input("Enter value x ="))
y = int(input("Enter value y ="))
x+y

Enter value x =10
Enter value y =10

20

In [20]:
p = float(input("Enter p ="))
t = float(input("Enter t ="))
r = float(input("Enter r ="))
i = p*t*r/100

print("The value of i is =",i)

Enter p =1000
Enter t =2
Enter r =3
The value of i is = 60.0

In [21]:
# + - * / % // **

In [23]:
r = int(input("Enter r = "))
a = 3.14*(r**2)
print("Enter area a = ",a)

Enter r = 10
Enter area a =  314.0

In [24]:
x = input("Enter value x =")
y = input("Enter value y =")
x+y

Enter value x =apple
Enter value y =ball

'apple ball'

In [25]:
x = input("Enter value x =")
y =10
x+y

Enter value x =10

TypeError: Can't convert 'int' object to str implicitly

In [26]:
x = input("Enter value x =")
y ='10'
x+y

Enter value x =Apple

'Apple10'

In [27]:
x = input("Enter value x =")
y =10
x+str(y)

Enter value x =Apple

'Apple10'

In [28]:
a = "hello world"
print(a*3)

hello worldhello worldhello world

In [29]:
a = "hello world\n"
print(a*3)

hello world
hello world
hello world