In [1]:
a = []
print(a)

[]

In [2]:
type(a)

list

In [3]:
# mutable
# It follows indexing
# Duplicate members
# Ordered

In [6]:
a = ['Apple','Ball','Cat','Dog']
print(type(a))

<class 'list'>

In [5]:
a = [34,5656,243,6767,343,8887]
type(a)

list

In [8]:
a = ['Apple','Ball','Cat','Dog']
a[2]

'Cat'

In [9]:
a = ['Apple','Ball','Cat','Dog','Apple']
a[2]

'Cat'

In [10]:
a = ['Apple','Ball','Cat','Dog','Apple']
b = ['Fish']
a+b

['Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Fish']

In [11]:
a = ['Apple','Ball','Cat','Dog','Apple']
b = ['Fish']
b+a

['Fish', 'Apple', 'Ball', 'Cat', 'Dog', 'Apple']

In [12]:
b = ['Fish']
b*3

['Fish', 'Fish', 'Fish']

In [13]:
name = "Ram"
age = "78"
a = []
data = [name,age]
data

['Ram', '78']

In [14]:
data = []
n = int(input("Enter name ="))
for i in range(n):
    name = input("Enter name = ")
    data = data+[name]
print(data)

Enter name =4
Enter name = Ram
Enter name = Shyam
Enter name = Hari
Enter name = Gita
['Ram', 'Shyam', 'Hari', 'Gita']

In [15]:
#append()
data = []
n = int(input("Enter name ="))
for i in range(n):
    name = input("Enter name = ")
    data.append(name)
print(data)

Enter name =2
Enter name = Ram
Enter name = Shyam
['Ram', 'Shyam']

In [16]:
for i in data:
    print(i)

Ram
Shyam

In [17]:
a = ['Ram', 'Shyam', 'Hari', 'Gita']
for i in a:
    if i == 'Hari':
        break
    print(i)

Ram
Shyam

In [18]:
a = ['Ram', 'Shyam', 'Hari', 'Gita']
for i in a:
    if i == 'Hari':
        continue
    print(i)

Ram
Shyam
Gita

In [21]:
a = ['Ram', 'Shyam', 'Hari', 'Gita']
a[0] = 'Ram Prasad'
a

['Ram Prasad', 'Shyam', 'Hari', 'Gita']

In [24]:
a.index('Hari')

2

In [25]:
a[2]='Harry'
a

['Ram Prasad', 'Shyam', 'Harry', 'Gita']

In [28]:
a = ['Ram Prasad', 'Shyam', 'Harry', 'Gita']
index = a.index('Gita')
del a[index]
print(a)

['Ram Prasad', 'Shyam', 'Harry']

In [29]:
a = ['Ram Prasad', 'Shyam', 'Harry', 'Gita']
name = input("Enter name = ")
index = a.index(name)
del a[index]
print(a)

Enter name = Gita
['Ram Prasad', 'Shyam', 'Harry']

In [31]:
a = ['Ram Prasad', 'Shyam', 'Harry', 'Gita']
del a
print(a)

NameError: name 'a' is not defined

In [30]:
a = ['Ram Prasad', 'Shyam', 'Harry', 'Gita']
a.remove('Gita')
a

['Ram Prasad', 'Shyam', 'Harry']

In [33]:
a = ['Ram Prasad', 'Shyam', 'Harry', 'Gita']
a.pop(1)
print(a)

['Ram Prasad', 'Harry', 'Gita']

In [34]:
a = ['Ram Prasad', 'Shyam', 'Harry', 'Gita']
b = a.pop(1)
print("a = ",a)
print("b = ",b)

a =  ['Ram Prasad', 'Harry', 'Gita']
b =  Shyam

In [37]:
#append() and sort()
data = []
n = int(input("Enter name ="))
for i in range(n):
    name = input("Enter name = ")
    data.append(name)
print(data)
data.sort()

Enter name =5
Enter name = ram
Enter name = Zebra
Enter name = .Apple
Enter name = Xray
Enter name = 1apple
['ram', 'Zebra', '.Apple', 'Xray', '1apple']

In [38]:
data

['.Apple', '1apple', 'Xray', 'Zebra', 'ram']

In [39]:
a = ['ram', 'Zebra', '.Apple', 'Xray', '1apple']
sorted(a)

['.Apple', '1apple', 'Xray', 'Zebra', 'ram']

In [40]:
print(a)

['ram', 'Zebra', '.Apple', 'Xray', '1apple']

In [41]:
#append() and sort()
data = []
n = int(input("Enter name ="))
for i in range(n):
    name = int(input("Enter name = "))
    data.append(name)
print(data)
data.sort()
print(data)

Enter name =10
Enter name = 213
Enter name = 34
Enter name = 456
Enter name = 34
Enter name = 657
Enter name = 344
Enter name = 7
Enter name = 34
Enter name = 67
Enter name = 7876
[213, 34, 456, 34, 657, 344, 7, 34, 67, 7876]
[7, 34, 34, 34, 67, 213, 344, 456, 657, 7876]

In [42]:
len(data)

10

In [43]:
print("Min Value = ",data[0])
print("Max Value = ",data[-1])

Min Value =  7
Max Value =  7876

In [44]:
data = [213, 34, 456, 34, 657, 344, 7, 34, 67, 7876]
print("The min value = ",min(data))
print("The max value = ",max(data))

The min value =  7
The max value =  7876

In [46]:
data = []
n = int(input("Enter name ="))
for i in range(n):
    name = int(input("Enter name = "))
    data.append(name)
print(data)
print("The min value = ",min(data))
print("The max value = ",max(data))
print("The sum =",sum(data))
print("Enter average = ",sum(data)/n)

Enter name =5
Enter name = 21
Enter name = 423
Enter name = 54
Enter name = 213
Enter name = 34
[21, 423, 54, 213, 34]
The min value =  21
The max value =  423
The sum = 745
Enter average =  149.0

In [3]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("ENter name = ")
    age = input("ENter age = ")
    add = input("Enter address = ")
    info = f"{i} {name} {age} {add}"
    data.append(info)
    
print(data)

Enter n = 3
ENter name = Shyam
ENter age = 67
Enter address = Ktm
ENter name = hari
ENter age = 67
Enter address = Bara
ENter name = Sita
ENter age = 46
Enter address = Patan
['0 Shyam 67 Ktm', '1 hari 67 Bara', '2 Sita 46 Patan']

In [5]:
# Reading
roll = int(input("Enter roll="))
data[roll]

Enter roll=0

'0 Shyam 67 Ktm'

In [8]:
# Update
roll = int(input("Enter roll="))
add = input("Enter address = ")
name = input("Enter name = ")
age = input("Enter age = ")
data[roll]=f'{roll} {name} {age} {add}'
data

Enter roll=1
Enter address = Bara
Enter name = Hari
Enter age = 76

['0 Shyam 67 Kathmandu', '1 Hari 76 Bara', '2 Sita 46 Patan']

In [11]:
a = ['ram', 'Zebra', '.Apple', 'Xray', '1apple']
search = input("Enter search = ")
if search in a:
    print("Yes",a.count('ram'))
    
else:
    print("No")

Enter search = ram
Yes 1

In [17]:
a = ['ram', 'Zebra', '.Apple', 'Xray', '1apple','ram']
search = input("Enter search = ")
n = a.count(search)
print("Yes",a.count(search))

for i in range(n):
    if search in a:
        
        a.remove(search)
        
print(a)

Enter search = ram
Yes 2
['ram', 'Zebra', '.Apple', 'Xray', '1apple', 'ram']
['Zebra', '.Apple', 'Xray', '1apple', 'ram']
['Zebra', '.Apple', 'Xray', '1apple']

In [19]:
a = ['ram', 'Zebra', '.Apple', 'Xray', '1apple','ram','ram']
search = input("Enter search = ")
n = a.count(search)
print("Yes",a.count(search))

for i in range(n-1):
    if search in a:
        
        a.remove(search)
        
print(a)

Enter search = ram
Yes 3
['Zebra', '.Apple', 'Xray', '1apple', 'ram']

In [23]:
a = ['ram', 'Zebra', '.Apple', 'Xray', '1apple','ram','ram']
search = input("Enter search = ")
save = int(input("Enter save index ="))
n = a.count(search)
print("Yes",a.count(search))

for i in range(n-1):
    if search in a:
        if search == a[save]:
            a.remove(search)
            continue
print(a)

Enter search = ram
Enter save index =0
Yes 3
['Zebra', '.Apple', 'Xray', '1apple', 'ram', 'ram']

In [3]:
a = ['ram', 'Zebra', '.Apple', 'Xray', '1apple','ram','ram']
search = input("Enter search = ")
save = int(input("Enter save index ="))
n = len(a)
print("Yes",a.count(search))
for i in range(n-1):
    if i ==save:
        continue
    else:
        print(i)
        a.remove(a[i])
    
print(a)

Enter search = ram
Enter save index =6
Yes 3

IndexError: list assignment index out of range

In [5]:
a = ['ram', 'Zebra', '.Apple', 'Xray', '1apple','ram','ram']
for i in a:
    print(i)

ram
Zebra
.Apple
Xray
1apple
ram
ram

In [6]:
a = ['ram', 'Zebra', '.Apple', 'Xray', '1apple','ram','ram']
search = input("Enter search = ")
save = int(input("Enter save index ="))
n = len(a)
print("Yes",a.count(search))
for i in a:
#     if i ==save:
#         continue
#     else:
#         print(i)
#         a.remove(a[i])
    print(a.index(i))
    
print(a)

Enter search = ram
Enter save index =0
Yes 3
0
1
2
3
4
0
0
['ram', 'Zebra', '.Apple', 'Xray', '1apple', 'ram', 'ram']

In [8]:
a = ['ram','ram', 'Zebra', '.Apple', 'Xray', '1apple','ram','ram']
a.sort()
a

['.Apple', '1apple', 'Xray', 'Zebra', 'ram', 'ram', 'ram', 'ram']

In [9]:
del a[5:]
a

['.Apple', '1apple', 'Xray', 'Zebra', 'ram']

In [10]:
# list inside list
a = [[],[],[],[]]
len(a)

4

In [11]:
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
len(a)

3

In [18]:
a[2][2]

9

In [20]:
a=[[1,2,3],[4,5,6]]
b = [7,8,9]
a+b

[[1, 2, 3], [4, 5, 6], 7, 8, 9]

In [21]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("ENter name = ")
    age = input("ENter age = ")
    add = input("Enter address = ")
    info = [i, name,age,add]
    data.append(info)
    
print(data)

Enter n = 2
ENter name = ram
ENter age = 56
Enter address = Patan
ENter name = Shyam
ENter age = 89
Enter address = Bara
[[0, 'ram', '56', 'Patan'], [1, 'Shyam', '89', 'Bara']]

In [25]:
data[0][1]

'ram'

In [ ]:
del a[0]

In [26]:
data[0][1]='Ram'
data

[[0, 'Ram', '56', 'Patan'], [1, 'Shyam', '89', 'Bara']]

In [30]:
a = ['0 Shyam 67 Kathmandu', '1 Hari 76 Bara', '2 Sita 46 Patan']
b = a[0]
b.split('.')

['0', 'Shyam Hari', '67', 'Kathmandu']

In [31]:
new_data = []
a = ['0 Shyam 67 Kathmandu', '1 Hari 76 Bara', '2 Sita 46 Patan']
for i in range(len(a)):
    b = a[i].split()
    new_data.append(b)
print(new_data)

[['0', 'Shyam', '67', 'Kathmandu'], ['1', 'Hari', '76', 'Bara'], ['2', 'Sita', '46', 'Patan']]

In [32]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("ENter name = ")
    physics = int(input("ENter marks of Physics = "))
    chemistry= int(input("Enter marks of chemistry  = "))
    math = int(input("Enter marks of math = "))
    total = sum([physics,chemistry,math])
    per = total/3
    if per > 50:
        x = "Pass"
    else:
        x = "Fail"
    info = [i, name,physics,chemistry,math,total,per,x]
    data.append(info)
    
print(data)

Enter n = 2
ENter name = ram
ENter marks of Physics = 89
Enter marks of chemistry  = 78
Enter marks of math = 67
ENter name = Sita
ENter marks of Physics = 90
Enter marks of chemistry  = 78
Enter marks of math = 67
[[0, 'ram', 89, 78, 67, 234, 78.0, 'Pass'], [1, 'Sita', 90, 78, 67, 235, 78.33333333333333, 'Pass']]

In [33]:
for i in data:
    print(i)

[0, 'ram', 89, 78, 67, 234, 78.0, 'Pass']
[1, 'Sita', 90, 78, 67, 235, 78.33333333333333, 'Pass']

In [34]:
name = input("Enter name = ")
for i in range(2):
    
    if name in data[i][1]:
        print("Yes")

Enter name = ram
Yes

In [36]:
data = [[0, 'Sita', 89, 78, 67, 234, 78.0, 'Pass'], [1, 'Sita', 90, 78, 67, 235, 78.33333333333333, 'Pass']]

s=0
name = input("Enter name = ")
for i in range(2):
    a = data[i].count(name)
    s =s+a
    
print(s)

Enter name = Sita
2

In [41]:
data = [[0, 'Ram', 89, 78, 67, 234, 78.0, 'Pass'], [1, 'Sita', 90, 78, 67, 235, 78.33333333333333, 'Pass']]

name = input("Enter name = ")
for i in range(2):
    
    if name in data[i][1]:
        print(data[i])

Enter name = Sita
[1, 'Sita', 90, 78, 67, 235, 78.33333333333333, 'Pass']