In [1]:
a = {1,2,3}
type(a)

set

In [2]:
# not indexed
# mutable
# no duplicate members
# unordered

In [3]:
a = {1,2,3}
a[0]

TypeError: 'set' object does not support indexing

In [5]:
# no duplicate members
a = {1,1,2,2,3,3,4,4}
a

{1, 2, 3, 4}

In [7]:
# unordered

a = {"Apple","!Ball","AA"}
a

{'!Ball', 'AA', 'Apple'}

In [8]:
a = {1,2,3}
b = {4,5,6}
a+b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [12]:
a = {1,2,3}
a*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [13]:
a = {1,2,3,4}
a.add("Apple")
a

{1, 2, 3, 4, 'Apple'}

In [18]:
a = set()
n = int(input("Enter value = "))
for i in range(n):
    x = int(input("Enter value = "))
    a.add(x)
print(a)

Enter value = 2
Enter value = 234
Enter value = 34
{234, 34}

In [20]:
for i in a:
    print(i)

234
34

In [21]:
# union
# intersection
# difference
# joint or disjoint
# subset
# superset

In [23]:
a = {1,2,3}
b = {3,4,5}
print(a.union(b))
print(a)

{1, 2, 3, 4, 5}
{1, 2, 3}

In [27]:
a = {1,2,3}
b = {3,4,5}
c ={4,5,6,7}
print(a.union(b,c))
print(a)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3}

In [25]:
a = {1,2,3}
b = {3,4,5}
a.update(b)
print(a)

{1, 2, 3, 4, 5}

In [26]:
a = {1,2,3}
b = {3,4,5}
print(a.intersection(b))
print(a)

{3}
{1, 2, 3}

In [28]:
a = {1,2,3,4}
b = {3,4,5}
c = {4}
print(a.intersection(b,c))
print(a)

{4}
{1, 2, 3, 4}

In [30]:
#A-B
a= {1,2,3}
b = {3,4,5}
print(a.difference(b))

{1, 2}

In [31]:

a= {1,2,3}
b = {3,4,5}
print(a.isdisjoint(b))

False

In [32]:
a= {1,2,3,4,5}
b = {3,4,5}
print(a.issubset(b))

False

In [33]:
a= {1,2,3,4,5}
b = {3,4,5}
print(b.issubset(a))

True

In [3]:
a= {1,2,3,4,5}
b = {3,4,5}

In [4]:
b.update({1,2})

In [5]:
a = b
a

{1, 2, 3, 4, 5}

In [6]:
a= {1,2,3,4,5}
b = {3,4,5}
a.issuperset(b)

True

In [8]:
# set inside set
a = {{1,2},{}}
a

TypeError: unhashable type: 'set'

In [9]:
a = {[],[],[]}
a

TypeError: unhashable type: 'list'

In [11]:
a = {(1,2),(2,3),(4,5)}
a

{(1, 2), (2, 3), (4, 5)}

In [14]:
a = {(1,2),(2,3),(4,5)}
a

{(1, 2), (2, 3), (4, 5)}

In [15]:
a = [{},{}]
a

[{}, {}]

In [17]:
a = [{1,2,3},{1,2,3}]
a

[{1, 2, 3}, {1, 2, 3}]

In [18]:
a = {1,2,3}
a = list(a)
a

[1, 2, 3]

In [19]:
a = set(a)
a

{1, 2, 3}

In [21]:
a=[1,2,3,2,1,3,4,2,3,4,1]
a = set(a)
a = list(a)
a

[1, 2, 3, 4]

In [23]:
a = {(1,2),(2,3),(4,5)}
b = (6,7)
a.add(b)
a

{(1, 2), (2, 3), (4, 5), (6, 7)}

In [24]:
a = [{1,2,3},{4,5,6},(1,2,3),"Hello World",[5,6,7]]
a

[{1, 2, 3}, {4, 5, 6}, (1, 2, 3), 'Hello World']

In [25]:
#append()
data = []
n = int(input("Enter name ="))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    info = {name,age}
    data.append(info)
print(data)

Enter name =2
Enter name = gdfgdf
Enter age = 54
Enter name = ghfhg
Enter age = 56
[{'gdfgdf', 54}, {56, 'ghfhg'}]

In [26]:
data

[{54, 'gdfgdf'}, {56, 'ghfhg'}]

In [27]:
del data[0]
data

[{56, 'ghfhg'}]