In [1]:
a = "Hello World"
print(a)
print(type(a))

Hello World
<class 'str'>

In [3]:
a = "Hello World"
a[5]

' '

In [4]:
a = "Hello World"
a[0:10]

'Hello Worl'

In [5]:
a = "Hello World"
a[0:10:2]

'HloWr'

In [6]:
a = input("Enter a = ")
type(a)

Enter a = 10

str

In [7]:
a = "Apple"
b = "Ball"
a+b

'AppleBall'

In [9]:
a = "Hello World\n"
print(a*4)

Hello World
Hello World
Hello World
Hello World

In [11]:
# String formatting
name = input("Enter name = ")
age = int(input("Enter age = "))
add  = input("ENter address = ")

output = f"Hello My name is {name}.I am from {add}.I am {age}"
print(output)

Enter name = Ram
Enter age = 56
ENter address = Kathmandu
Hello My name is Ram.I am from Kathmandu.I am 56

In [12]:
# String formatting
name = input("Enter name = ")
age = int(input("Enter age = "))
add  = input("ENter address = ")
hobies = ["Playing","Cycling","Singing"]

output = f"Hello My name is {name}.I am from {add}.I am {age}.My hoby is {hobies}"
print(output)

Enter name = Ram
Enter age = 67
ENter address = bara
Hello My name is Ram.I am from bara.I am 67.My hoby is ['Playing', 'Cycling', 'Singing']

In [13]:
# Search
a = "Hello My name is Ram.I am from bara.I am 67."
if "Ram" in a:
    print("Yes")
else:
    print("No")

Yes

In [15]:
# Search
a = "Hello My name is Ram.I am from bara.I am 67."
search = input("Enter value for search = ")
if search in a:
    print("Yes")
else:
    print("No")

Enter value for search = fsdfsdf
No

In [16]:
a = "Hello My name is Ram.I am from bara.I am 67."
a.count('Ram')

1

In [18]:
# Search
a = "Hello My name is Ram.I am from bara.I am 67."
search = input("Enter value for search = ")
if search in a:
    print("Yes",a.count(search))
else:
    print("No")

Enter value for search = ram
No

In [19]:
a = "hello World"
a.upper()

'HELLO WORLD'

In [20]:
a = "hello World"
a.lower()

'hello world'

In [23]:
# Search
a = "Hello My name is Ram.I am from Bara.I am 67.".lower()
search = input("Enter value for search = ").lower()
if search in a:
    print("Yes",a.count(search))
else:
    print("No")

Enter value for search = rAm
Yes 1

In [25]:
# replace()
a="Hello My name is Ram.I am from Bara.I am 67."
a.replace('Ram','Shyam')

'Hello My name is Shyam.I am from Bara.I am 67.'

In [28]:
# replace()
a="Hello My name is Ram.I am from Bara.I am 67.My brother's name is Ram Prasad"
a = a.replace('Ram','Shyam')
a

"Hello My name is Shyam.I am from Bara.I am 67.My brother's name is Shyam Prasad"

In [1]:
# Search and replace
a = "Hello My name is Ram.I am from Bara.I am 67.".lower()
search = input("Enter value for search = ").lower()
replace = input("Enter replace value = ")
if search in a:
    print("Yes",a.count(search))
    a = a.replace(search,replace)
    print(a)
    
else:
    print("No")

Enter value for search = Ram
Enter replace value = Shyam
Yes 1
hello my name is Shyam.i am from bara.i am 67.

In [5]:
a="Hello My name is Ram.I am from Bara.I am 67.My brother's name is Ram Prasad"
a[17:20]

'Ram'

In [8]:
c = " Sita"
b = a[:16] +c+ a[20:]
b

"Hello My name is Sita.I am from Bara.I am 67.My brother's name is Ram Prasad"

In [9]:
a = "Hello World"
a.split()

['Hello', 'World']

In [11]:
a = "Hello.World"
a.split('.')

['Hello', 'World']

In [12]:
data = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("ENter name = ")
    age = input("ENter age = ")
    add = input("Enter address = ")
    info = f"{name} {age} {add}\n"
    data = data+info
    
print(data)

Enter n = 3
ENter name = Shyam
ENter age = 78
Enter address = Kathmandu
ENter name = Nabin
ENter age = 56
Enter address = Patan
ENter name = Nita
ENter age = 89
Enter address = USA
Shyam 78 Kathmandu
Nabin 56 Patan
Nita 89 USA

In [14]:
search = input("Enter search =")
update = input("Enter update = ")
data = data.replace(search,update)
print(data)

Enter search =USA
Enter update = Bara
Shyam 78 Kathmandu
Nabin 56 Patan
Nita 89 Bara

In [15]:
a = "Apple Ball"
a = a.replace('Ball','')
a

'Apple '

In [16]:
a = "Apple Ball"
len(a)

10