In [1]:
a = (1,2,3)
type(a)

tuple

In [2]:
a = ("Apple","Ball","cat")
a

('Apple', 'Ball', 'cat')

In [3]:
# Imutable
# It follows indexing
# Duplicate members
# Ordered

In [5]:
a = ("Apple","Ball","cat")
a[1]

'Ball'

In [7]:
a = ("Apple","Ball","cat")
a[0:2]

('Apple', 'Ball')

In [8]:
a = ("Apple","Ball","cat","Apple")
a

('Apple', 'Ball', 'cat', 'Apple')

In [9]:
a = ("Apple","Ball","cat")
b = ("Dog","Fish")
a+b

('Apple', 'Ball', 'cat', 'Dog', 'Fish')

In [10]:
a = ("Apple","Ball","cat")
a*3

('Apple', 'Ball', 'cat', 'Apple', 'Ball', 'cat', 'Apple', 'Ball', 'cat')

In [14]:
a = ("Apple",)
type(a)

tuple

In [17]:
a = ("Apple","Ball","cat")
b = a+("Dog",)
b = b+("Fish",)

In [18]:
b

('Apple', 'Ball', 'cat', 'Dog', 'Fish')

In [22]:
b = list("hello World")
b

['h', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [23]:
b = tuple("dadas/")
b

('d', 'a', 'd', 'a', 's', '/')

In [20]:
names = tuple()
n = int(input("Enter value of n ="))
for i in range(n):
    name = input("Enter name = ")
    names = names+(name,)
print(names)

Enter value of n =3
Enter name = Ram
Enter name = Shyam
Enter name = Hari
('Ram', 'Shyam', 'Hari')

In [24]:
del names[0]

TypeError: 'tuple' object doesn't support item deletion

In [25]:
a = ('Ram', 'Shyam', 'Hari')
a = a[1:]

In [26]:
a

('Shyam', 'Hari')

In [27]:
len(a)

2

In [28]:
a = ('Ram', 'Shyam', 'Hari')
a.remove('Ram')

AttributeError: 'tuple' object has no attribute 'remove'

In [29]:
a = ('Ram', 'Shyam', 'Hari')
a.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [30]:
a = ('Ram', 'Shyam', 'Hari')
sorted(a)

['Hari', 'Ram', 'Shyam']

In [34]:
a = ('Apple', 'Ball', 'cat', 'Apple', 'Ball', 'cat', 'Apple', 'Ball', 'cat')

a = list(a)

print(a)

['Apple', 'Ball', 'cat', 'Apple', 'Ball', 'cat', 'Apple', 'Ball', 'cat']

In [36]:
a = ('Apple', 'Ball', 'cat', 'Apple', 'Ball', 'cat', 'Apple', 'Ball', 'cat')

a = list(a)
a.remove('Apple')
a = tuple(a)
a

('Ball', 'cat', 'Apple', 'Ball', 'cat', 'Apple', 'Ball', 'cat')

In [37]:
a = ('Ball', 'cat', 'Apple', 'Ball', 'cat', 'Apple', 'Ball', 'cat')
for i in a:
    print(i)

Ball
cat
Apple
Ball
cat
Apple
Ball
cat

In [38]:
if "Apple" in a:
    print("Yes",a.count("Apple"))

Yes 2

In [39]:
a = ('Ball', 'cat', 'Apple', 'Ball', 'cat', 'Apple', 'Ball', 'cat')
a[0] ="Apple"

TypeError: 'tuple' object does not support item assignment

In [40]:
a = ('Ball', 'cat', 'Apple', 'Ball', 'cat', 'Apple', 'Ball', 'cat')
a = list(a)
a[0] ="Apple"
a = tuple(a)
a

('Apple', 'cat', 'Apple', 'Ball', 'cat', 'Apple', 'Ball', 'cat')

In [42]:
#append() and sort()
data = ()
n = int(input("Enter name ="))
for i in range(n):
    value = int(input("Enter name = "))
    data = data+(value,)
print(data)
data = sorted(data)
print(data)
print(min(data))
print(max(data))

Enter name =5
Enter name = 234
Enter name = 345
Enter name = 23
Enter name = 345
Enter name = 123
(234, 345, 23, 345, 123)
[23, 123, 234, 345, 345]
23
345

In [43]:
data = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("ENter name = ")
    age = input("ENter age = ")
    add = input("Enter address = ")
    info = f"{i} {name} {age} {add}"
    data = data +(info,)
    
print(data)

Enter n = 2
ENter name = Shyam
ENter age = 78
Enter address = Patan
ENter name = Ram
ENter age = 56
Enter address = Bara
('0 Shyam 78 Patan', '1 Ram 56 Bara')

In [46]:
# tuple inside tuple
a = ((),(),(),())
print(type(a))
print(len(a))

<class 'tuple'>
4

In [48]:
a = ((1,2,3),
     (4,5,6),
     (7,8,9))
len(a)
type(a)

tuple

In [51]:
a=((1,2,3),(4,5,6))
b = ((7,8,9),)
c = a+b
c

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [53]:
a = (2,)
b = (4,)
a+b

(2, 4)

In [54]:
data = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("ENter name = ")
    age = input("ENter age = ")
    add = input("Enter address = ")
    info = (i, name,age,add)
    data = data+(info,)
    
print(data)

Enter n = 2
ENter name = Shyam
ENter age = 67
Enter address = Patan
ENter name = Akash
ENter age = 89
Enter address = Ktm
((0, 'Shyam', '67', 'Patan'), (1, 'Akash', '89', 'Ktm'))

In [55]:
# list inside tuple
# tuple inside list

In [56]:
# list inside tuple
a = ([],[],[])
type(a)

tuple

In [57]:
a = [(),(),()]
a

[(), (), ()]

In [58]:
type(a)

list

In [59]:
a = ([1,2,3],[4,5,6],[7,8,9])
type(a)

tuple

In [60]:
type(a[0])

list

In [61]:
a[0].append(4)
a

([1, 2, 3, 4], [4, 5, 6], [7, 8, 9])

In [63]:
a = ([1,2,3],[4,5,6],[7,8,9])
a = a+ ([10,11,12],)
a

([1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])

In [64]:
list(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [65]:
# tuple inside list
a = [(1,2,3),(4,5,6),(7,8,9)]
a.append((10,11,12))
a

[(1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12)]

In [66]:
a = [(1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12)]
a[0] = (1,2,3,4)
a

[(1, 2, 3, 4), (4, 5, 6), (7, 8, 9), (10, 11, 12)]

In [67]:
a = [(1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12)]
list(a)

[(1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12)]

In [69]:
x = []
n = len(a)
for i in range(n):
    b = list(a[i])
    x.append(b)
print(x)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [70]:
a = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
x = []
n = len(a)
for i in range(n):
    b = list(a[i])
    x.append(b)
print(x)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [71]:
a =[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
x = ()
n = len(a)
for i in range(n):
    b = tuple(a[i])
    x = x+(b,)
print(x)

((1, 2, 3), (4, 5, 6), (7, 8, 9))